<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proje.scriber">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Giris"
            android:theme="@style/FullScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Kayit"
            android:theme="@style/FullScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.KAYIT"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Anasayfa"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ANASAYFA"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Profil"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PROFIL"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Takip"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.TAKIP"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".ArananProfil"
            android:screenOrientation="portrait" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.ARANANPROFIL"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Konusma"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.KONUSMA"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".MesajYaz"
            android:theme="@style/FullScreen"
            android:screenOrientation="portrait" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MESAJYAZ"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".PostYaz"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.POSTYAZ"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".ArananTakip"
            android:screenOrientation="portrait" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.ARANANTAKIP"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Post"
            android:screenOrientation="portrait"  android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.POST"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".Arama"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.ARAMA"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
    </application>
</manifest>
